html {
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth; /*плавный переход по старнице*/
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
:root {
    --font-family: "Jost", sans-serif;
    --black-color: #000;
    --blue-color: #3e68ff;
    --bottom-background: #8c9fe3;
    --bottom-text-color: #fff;
}

body {
    width: 100%;
    min-width: 1440px;
    height: auto;
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--black-color);
}

header {
    display: flex;
    justify-content: space-between; /* сделала более гибкий header, для визуального понимания использовала F12*/
    align-items: center;
    margin: 31px auto 0;
    padding: 0 102px;
}

h1, h2 {
    font-weight: 600;
    font-size: 35px;
}
h2 {
    text-align: center;
    margin-bottom: 7px;
}

a {
    text-decoration: none; /*подчеркивание*/
    color: var(--black-color);
}
a:hover {
    cursor: pointer;
    color: var(--blue-color);
}
header>nav ul {
    display: flex;
    gap: 39px;
    font-weight: 300;
    font-size: 25px;
}
li {
    list-style-type: none;
}

.offers {
    border: none;
    border-radius: 10px;
    background-color: var(--bottom-background);
    color: var(--bottom-text-color);
    font-size: 23px; /* fsz23 */
    text-align: center;
    font-weight: 400;
    padding: 8px 9px;
}
button:hover {
    cursor: pointer;
}

.photo-1 {
    display: block; /* img - это строчный элемент, нам надо его приобразовать в блочный*/
    width: 100%;
    max-width: 1031px;
    height: auto;
    margin: 96px auto;
}
.product>p,
.form>p,
.info>p {
    font-weight: 300;
    font-size: 28px;
    text-align: center;
}

/* ARTICLE */
.product-arrticle {
    display: flex;
    justify-content: space-evenly;
    margin: 49px 0 96px 0;
}
article {
    border: 1px solid rgba(118, 118, 118, 0.5);
    border-radius: 50px;
    width: 360px;
    height: 400px;
    text-align: center;
    padding: 30px 36px 23px;
}
h3 {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 4px;
}
article>p,
.contact-info>p+a {
    font-weight: 400;
    font-size: 20px;
    color: #636363;
    margin-bottom: 10px;
}
article>p+p {
    font-size: 26px;
    margin-bottom: 7px;
}
span {
    color: var(--blue-color);
    padding-right: 19px;
}
.order,
form>button {
    width: 210px;
    height: 35px;
    background-color: var(--bottom-background);
    color: var(--bottom-text-color);
    font-weight: 400;
    font-size: 21px;
    border-radius: 10px;
    border: none;
}

/* ОТЗЫВЫ ПОКУПАТЕЛЕЙ */
.feedback {
    text-align: center;
}
.feedback>img {
    margin: 22px auto 12px;
}
.feedback>p,
.comment>p {
    font-weight: 300;
    font-size: 24px;
    margin: 0; /* Сбрасываем стандартные маржины, чтобы они не ломали gap */
}
.feedback>p+p {
    font-size: 20px;
}
.comment {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 12px;
    justify-content:center;
    align-items: center;
    gap: 60px;
    padding: 0 102px;
}
.comment>button { /* возможно картинка */
    align-self: center;
    flex-shrink: 0;  /* Запрещает кнопке сжиматься и превращаться в овал! */
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    font-size: 25px;
    box-shadow: 0px 0px 10px 4px rgba(62, 104, 255, 0.379);
    color: #636363;
    background-color: #fff;

}
.scroll-indicator {
    margin: 31px auto 96px;
}

/* Обратная связь */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(118, 118, 118, 0.5);
    border-radius: 50px;
    width: 700px;
    height: auto;
    margin: 45px auto 96px;
    padding: 27px 60px 47px 55px;
    gap: 26px;
}
input,
textarea {
    width: 100%;
    border: 1px solid rgba(118, 118, 118, 0.5);
    border-radius: 50px;
    font-weight: 300;
    font-size: 28px;
    color: #696969; 
    padding: 12px 0 12px 30px;
}
textarea {
    padding-left: 23px;
    margin-bottom: 21px;
}

/* Контакты */
.map-contact {
    position: relative;
    z-index: 0;
    margin-top: 57px;
}
.contact {
    position: absolute;
    z-index: 1;
    /* 1. Центрирование по вертикали */
    top: 50%;
    transform: translateY(-50%); /* Сдвиг вверх на половину собственной высоты блока */
    left: 5%;
    width: 400px;
    height: auto;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 0 30px 40px;
}
.contact>p { /* Первый элемент <p> в контейнере */
    margin: 10px 0;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 27px auto 26px;
}
footer>h2 {
    text-align: left;
    margin-bottom: 0;
}
footer>nav ul li {
    font-weight: 300;
    font-size: 25px;
    
}
footer>p a {
    font-weight: 400;
    font-size: 25px;
    color: var(--blue-color);
    padding: 7px 0;
}
footer>div img {
    width: 100;
    height: 100;
}